<div class="section">
    <div class="columns">
        <div class="column is-half">
            <h1 class="title mt-3 has-text-info-light">Error 404</h1>
            <ng-particles [id]="id" [options]="particlesOptions"></ng-particles>
        </div>
        <div class="column is-half">
            <h1 class="title mt-3 has-text-info-light">Ups...</h1>
            <h3 class="subtitle mt-3 has-text-info-light">Se supone que esto no debería pasar</h3>
            <p class="mt-5 has-text-info-light">Estamos intentando solucionar el error.</p>
            <a class="button is-link is-outlined is-rounded mt-5 is-size-7" href="Error">
              Regresemos a la página principal
            </a>
        </div>
    </div>
</div>